body {
    margin: 0;
    min-height: 100vh;
} 


.logo {
    display: flex;
    position: relative;
    margin-left: 50px;
    padding: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

li {
    display: inline;
    float: right;
    position: relative;
    bottom: 53px;
    margin-right: 50px;
    gap: 20px;
    display: flex;
    font-size: 20px;
}

li a:hover {
    color: #C1966B;
}

.link a {
    text-decoration: none;
    color: #0077b6;
    
}

#container-1 {
    padding: 20px;
    background-color: #161287;
    height: 500px;
    animation-name: container;
    animation-duration: 10s;
} 

@keyframes container {
    from {background-color:#161287;}
    to {background-color: #88E0EF;}
  }

.first-heading {
    font-size: 48px;
    text-transform: capitalize;
    font-weight: bolder;
    color: #FFFFFF;
    position: relative;
    margin-left: 45px;

}

.first-para {
    font-size: 22px;
    color: #f9faf8;
    position: relative;
    margin-left: 45px;
}

button {
    font-size: 20px;
    font-weight: bolder;
    padding: 10px 50px;
    border-radius: 50px;
    border: none;
    position: relative;
    margin-left: 43px;
    top: 40px;
    color: white;
    text-transform: uppercase;
    
}

#trackBtn {
    background-color: #FFA737;
    opacity: 1;
    transform: 0.3s;
    cursor: pointer;
}

#trackBtn:hover {opacity: 0.6;}

#contactBtn {
    background-color: #670AFE;
    opacity: 1;
    transform: 0.3s;
    cursor: pointer;
}

#contactBtn:hover {opacity: 0.6;}


.img-1 {
    display: block;
    margin-right: auto;
    margin-left: 780px;
    position: relative;
    bottom: 300px;
}

   .container-2 {
    padding: 80px;
    background-color: #F2F2F2;
}   

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    position: relative;
    top: 5px;
}

.para-2 {
    text-align: center;
    color: #6F5F64;
    font-size: 22px; 
    position: relative;
    top: 5px;

}


.square {
    height: 400px;
    width: 400px;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    top: 20px;
}

.container-3 {
     display: grid; 
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
     column-gap: 20px;
    
} 



h3 {
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    top: 40px;
}

.para-3 {
    font-size: 20px;
    color: #6F5F64;
    top: 30px;
    position: relative;
}


.container-4 {
    padding: 80px;
    background-color: #020101;
}   

.title-one {
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    position: relative;
    top: 5px;
}

.para-4 {
    text-align: center;
    color: #ffffff;
    font-size: 22px; 
    position: relative;
    top: 5px;

}

.para-5 {
    text-align: center;
    color: #ffffff;
    font-size: 20px; 
    position: relative;
    top: 30px;
}

.third-heading {
    font-size: 30px;
    text-transform: capitalize;
    position: relative;
    top: 40px;
    color: #ffffff;
}

.square-zone {
    background-color: #071B50;
    height: 400px;
    width: 400px;
    text-align: center;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #bbb;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;

}

.square-zone:hover {
     cursor: pointer;
     animation-name: bounce;
    -moz-animation-name: bounce;
  }

  .container-5 {
     display: grid; 
     grid-template-columns: repeat(3, 1fr);
     justify-items: center;
     column-gap: -0.5%;
     row-gap: 20px;
    
} 

  .container-6 {
    padding: 80px;
    background-color: #FFFFFF;
}   

.img-zone {
    background-image: url("asset/cargo.jpeg");
    background-color: #071B50;
    height: 350px;
    width: 350px;
    text-align: center;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #bbb;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: white;

}


  .img-2 {
      display: block;
      margin-right: auto;
      margin-left: 0.5px;
      position: relative;
      bottom: 94px;
      
  }

  .title-two {
    color: #88788A;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    position: relative;
    top: 5px;
}

.para-6 {
    text-align: center;
    color: #67788A;
    font-size: 22px; 
    position: relative;
    top: 5px;

} 

.container-7 {
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column; 
    text-align: center;
    align-items: center;
    justify-content: center; 
    padding: 80px;
    background-color: #FFFFFF;
    position: relative; 
    bottom: 42px;  
}   



.logo-footer img{
    height: 55px;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 50px;
    padding: 20px;
    font-size: 100px;
}

.list a{
    justify-content: center;
    position: relative;
    bottom: 53px;
    margin-right: 140px;
    display: flex;
    color: #A48C81;
}

.list {
    margin: 1rem;
}

.social-icon  {
    color: #aaaaaa;
    transition: 0.2s;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    margin: 5px 2px;
}



.social-icon:hover {
    color: #333333;
}

#icon {
    display: block;
    margin-right: auto;
    margin-left: 550px;
}


@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}









